services:
  backend:
    build: .
    container_name: saas-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always    
 

  mongo:
    image: mongo:7
    container_name: saas-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db/mydata
    restart: always

volumes:
  mongo_data:
    